.right{
    float: right;
    margin-right: 40px;
    color: blue;
    font-size: 5px;
   /*  width: 25%; */
}
.right h4{
 text-align: center;
 margin-right: 0;
}

/* .image{
    float: right;
    position: fixed;
    margin-right: 200px;
    margin-left: 250px;
} */
img{
    height: 156px;
    width: 100%;
}
.hedar{
    box-sizing: border-box;
    float: left;
    width: 100%;
    height: 141px;
}
title{
    display: block;
}



.left{
   /*  width: auto; */
    margin-left: 40px;
    color: blue;
    font-size: 5px;
}

h1{
    text-align: center;
    margin: 66px;
}
.bodyright{
    float: right;
    margin-right: 80px;
}

.print{
    height: 80px;
}

.print h3{
    float: right;
    font-size: 25px;
    position: relative;
    box-sizing: border-box;
}

.print label{
    float: left;
    margin-right: 90px;
    margin-top: 29px;
    position: relative;
    box-sizing: border-box;
    font-size: 25px;

}

@media print 
{
  @page { margin: 0; }
  body  { margin: 1.6cm; }
}
   